div.app {
  text-align : center;
  width : 180px;
  background-color : #406B59;
  padding : 10px;
}

div.app input{
  width : 80px;
  text-align : right;
  margin : auto;
 }

 div.app button{
   margin-left : 15px;
  }
